p{
    background-color: rgb(48, 168, 174);
}
header{
    background-color: red;
}
a{
    background-color: rgb(186, 145, 224);
}
div{
    background-color: rgb(255, 243, 16);
}
span{
    background-color: rgb(43, 193, 105);
}
footer{
    background-color: rgb(220, 122, 217);
}


